name: CI

on: [push]

jobs:
  build:
    name: "Installation & testing of package"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.3.0]
        julia-arch: [x64]
        os: [ubuntu-latest,macos-latest,windows-latest]
    steps:
    - uses: actions/checkout@v1
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - uses: julia-actions/julia-runtest@NatComms